.home {
  min-height: 100vh;
  background: var(--bg-third);
}
.middle_home {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  /* align-items: stretch; */
}
